<div class="box-card">
    <div class="card">
        <div class="cardImg1">
            <a routerLink="customer/list-customer">
                <img src="../../../assets/images/add_user.svg" alt="add user">
            </a>
        </div>
    </div>
    <div class="card">
        <div class="cardImg2">
            <img src="../../../assets/images/list_users.svg" alt="list user">
        </div>
    </div>
    <div class="card">
        <div class="cardImg3">
            <img src="../../../assets/images/details_user.svg" alt="details user">
        </div>
    </div> 
</div>