<div class="box-card">
  <div class="card">
    <div class="cardImg1">
      <a routerLink="customer/customer-list">
        <img
          src="{{ '../../../assets/images/' + namePath[0] + '.svg' }}"
          alt="add user"
        />
      </a>
    </div>
  </div>
  <div class="card">
    <div class="cardImg2">
      <img src="{{ '../../../assets/images/' + namePath[1] + '.svg' }}" alt="list user" />
    </div>
  </div>
  <div class="card">
    <div class="cardImg3">
      <img src="{{ '../../../assets/images/' + namePath[2] + '.svg' }}" alt="details user" />
    </div>
  </div>
</div>
