<div>
  <ul [className] = "sendBooleanNav ? 'classFalse' : 'hideText'">
    <li>
      <a [className]="activeBool[0] ? 'active' : 'classFalse'"
      (click)="enviarInfo(0, 'Mis Facturas')"
        ><fa-icon [icon]="['fas', 'calendar']"></fa-icon><span>Programación</span></a
      >
    </li>
    <li>
      <a [className]="activeBool[1] ? 'active' : 'classFalse'"
      (click)="enviarInfo(1, 'Mis Facturas')"
        ><fa-icon [icon]="['fas', 'users']"></fa-icon><span>Usuarios</span></a
      >
    </li>
    <li>
      <a [className]="activeBool[2] ? 'active' : 'classFalse'" 
      (click)="enviarInfo(2, 'Mis Facturas')"
        ><fa-icon [icon]="['fas', 'bicycle']"></fa-icon><span>Scooters</span></a
      >
    </li>
    <li>
      <a [className]="activeBool[3] ? 'active' : 'classFalse'"
      (click)="enviarInfo(3, 'Mis Facturas')"
        ><fa-icon [icon]="['fas', 'plus-square']"></fa-icon><span>Servicios</span></a
      >
    </li>
    <li>
      <a [className]="activeBool[4] ? 'active' : 'classFalse'"
      (click)="enviarInfo(4, 'Mis Facturas')"
        ><fa-icon [icon]="['fas', 'list']"></fa-icon><span>Items</span></a
      >
    </li>
    <li>
      <a [className]="activeBool[5] ? 'active' : 'classFalse'"
      (click)="enviarInfo(5, 'Mis Facturas')"
        ><fa-icon [icon]="['fas', 'map']"></fa-icon><span>Sedes</span></a
      >
    </li>
  </ul>
</div>
